<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vladymyr Voloshyn challenge</title>
        <link rel="stylesheet" href="static/styles.css">
        <!--<script src="bower_components/jquery/dist/jquery.js"></script>-->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-websocket/angular-websocket.js"></script>
    </head>
    <body>
        <div class="app-container" data-ng-app="mainSection" data-ng-controller="sithController">
            <div class="css-root">
                <h1 class="css-planet-monitor">Obi-Wan currently on {{currentPlanet}}</h1>
                <section class="css-scrollable-list">
                    <ul class="css-slots">
                        <li ng-repeat="jedi in _jedi"  class="css-slot{{jedi.style}}">
                            <div ng-if="jedi.name != null">
                                <h3>{{jedi.name}}</h3>
                                <h6>Homeworld: {{jedi.homeworld.name}}</h6>
                            </div>
                        </li>
                    </ul>

                    <div class="css-scroll-buttons">
                        <button class="css-button-up{{disableScrollUp}}" ng-click="scrollJediList(true)"></button>
                        <button class="css-button-down{{disableScrollDown}}" ng-click="scrollJediList(false)"></button>
                    </div>
                </section>
            </div>
        <script src="js/bundle.js"></script>
    </body>
</html>
